

.image{
  width: 204px;
  height: 287px;
  box-shadow: 10px 10px 5px grey;
}

.container {
  display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.info {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  font-family: 'Rajdhani', sans-serif;
font-family: 'Cinzel', serif;
}